Repository PatrykAnz/homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform_fmt, terraform_validate, tflint, kubeconform

terraform_fmt:
  name: terraform fmt
  entry: terraform fmt -recursive
  language: system
  pass_filenames: false

terraform_validate:
  name: terraform validate
  entry: terraform validate
  language: system
  pass_filenames: false

tflint:
  name: tflint
  entry: tflint --recursive
  language: golang
  additional_dependencies:
  - github.com/terraform-linters/tflint@v0.54.0
  pass_filenames: false

kubeconform:
  name: kubeconform linter
  entry: kubeconform -summary -strict -ignore-missing-schemas -skip CustomResourceDefinition
  language: golang
  additional_dependencies:
  - github.com/yannh/kubeconform/cmd/kubeconform@v0.7.0

Add External Secrets infrastructure with Terraform-managed Service Principal
  apps/daylog/externalsecret-azure-config.yaml
  apps/daylog/externalsecret-azure-creds.yaml
  apps/daylog/kustomization.yaml
  apps/daylog/secret-azure-config.yaml.example
  infra/terraform/.terraform.lock.hcl
  infra/terraform/main.tf
  infra/terraform/modules/azure_service_principal/main.tf
  infra/terraform/modules/azure_service_principal/outputs.tf
  infra/terraform/modules/azure_service_principal/variables.tf
  infra/terraform/modules/azure_service_principal/versions.tf
  infra/terraform/provider.tf
  infra/terraform/terraform.tfvars.example
  infra/terraform/variables.tf
Due: terraform_fmt, terraform_validate, tflint, kubeconform

fix(ci) ix terraform wrapper exit
  .github/workflows/terraform-apply.yaml
  .github/workflows/terraform-plan.yaml
Due: none

feat(infra): add Service Principal module
  infra/terraform/modules/azure_service_principal/main.tf
  infra/terraform/modules/azure_service_principal/variables.tf
  infra/terraform/modules/azure_service_principal/versions.tf
Due: terraform_fmt, terraform_validate, tflint

Add manual approval, fix AD permissions, and External Secrets SP
  .github/workflows/deploy-infra.yaml
  infra/terraform/main.tf
Due: terraform_fmt, terraform_validate, tflint

fix(infra): remove AD role assignment from Terraform (already configured via CLI)
  infra/terraform/main.tf
Due: terraform_fmt, terraform_validate, tflint

refactor: restructurize folders to bootstrap and plateofmr
  .gitignore
  bootstrap/application-homelab.yaml
  kustomization.yaml
  platform/argocd/kustomization.yaml
  platform/argocd/service-argocd-server-nodeport.yaml
  platform/external-secrets/clustersecretstore-azure-key-vault.yaml.example
  platform/external-secrets/kustomization.yaml
Due: kubeconform

chore(gitignore): add temporary switch.md to gitignore
  .gitignore
Due: none

chore: remove temporary switch.md from .gitignore
  .gitignore
Due: none

fix: add clustersecretstore yaml example file to fix ArgoCD
  platform/external-secrets/kustomization.yaml
Due: kubeconform

feat: init mosquito config
  host-services/home-automation/mosquitto.conf
Due: none

chore: add .env.example for home-automation
  host-services/home-automation/.env.example
Due: none

fix: fix pre-commit kubeconform checking host-services
  .pre-commit-config.yaml
Due: none

feat: add docker compose for mqtt zigbee and home-assistant
  host-services/home-automation/compose.yaml
Due: kubeconform

chore: add passwd file for .gitignore
  .gitignore
Due: none

chore: update README so its easier to maintain in future
  README.md
Due: none

chore: add SETUP instructions file
  SETUP.md
Due: none

Update SETUP.md
  SETUP.md
Due: none

Update host-services/home-automation/compose.yaml
  host-services/home-automation/compose.yaml
Due: kubeconform

Update README.md
  README.md
Due: none

feat/ initial home automation for zigbee mosquitto homeassistant setup
  .gitignore
  .pre-commit-config.yaml
  README.md
  SETUP.md
  host-services/home-automation/.env.example
  host-services/home-automation/compose.yaml
  host-services/home-automation/mosquitto.conf
Due: kubeconform

fix: bootstrap ClusterSecretStore manually for open source
  .pre-commit-config.yaml
  SETUP.md
  platform/external-secrets/kustomization.yaml
Due: kubeconform

fix: bootstrap ClusterSecretStore manually for open source (#8)
  .pre-commit-config.yaml
  SETUP.md
  platform/external-secrets/kustomization.yaml
Due: kubeconform

feat: add kube-prometheus-stack monitoring via ArgoCD
  .pre-commit-config.yaml
  SETUP.md
  kustomization.yaml
  platform/kube-prometheus-stack/application.yaml
  platform/kube-prometheus-stack/externalsecret-grafana.yaml
  platform/kube-prometheus-stack/kustomization.yaml
Due: kubeconform

Update platform/kube-prometheus-stack/application.yaml
  platform/kube-prometheus-stack/application.yaml
Due: kubeconform

feat: add kube-prometheus-stack monitoring via ArgoCD (#9)
  .pre-commit-config.yaml
  SETUP.md
  kustomization.yaml
  platform/kube-prometheus-stack/application.yaml
  platform/kube-prometheus-stack/externalsecret-grafana.yaml
  platform/kube-prometheus-stack/kustomization.yaml
Due: kubeconform

fix: bootstrap ClusterSecretStore manually for open source
  platform/external-secrets/kustomization.yaml
Due: kubeconform

fix: bootstrap ClusterSecretStore manually for open source (#10)
  platform/external-secrets/kustomization.yaml
Due: kubeconform

feat: improve pre-commit with tfsec, gitleaks and yamllint
  .pre-commit-config.yaml
  .yamllint
Due: none

fix: fast fix
  .pre-commit-config.yaml
Due: none

fix(pre-commit): allow multiple YAML documents and fix trivy config
  .pre-commit-config.yaml
  .trivyignore
Due: none

feat: add security context and stable image tags for daylog jobs
  apps/daylog/cronjob-garmin-sync.yaml
  apps/daylog/cronjob-withings-sync.yaml
  apps/daylog/job-garmin-sync-annual.yaml
  apps/daylog/job-withings-sync-annual.yaml
Due: kubeconform

feat: security context to pgadmin and non-privileged port
  databases/daylog/pgadmin/deployment-daylog-pgadmin.yaml
  databases/daylog/pgadmin/service-daylog-pgadmin.yaml
Due: kubeconform

refactor: refactor infra terraform module variables, outputs, add tags, content_type for azkv
  infra/terraform/main.tf
  infra/terraform/modules/azure_federated_identity_credential/main.tf
  infra/terraform/modules/azure_federated_identity_credential/variables.tf
  infra/terraform/modules/azure_key_vault/main.tf
  infra/terraform/modules/azure_key_vault/outputs.tf
  infra/terraform/modules/azure_key_vault/variables.tf
  infra/terraform/modules/azure_role_assignment/main.tf
  infra/terraform/modules/azure_role_assignment/variables.tf
  infra/terraform/modules/azure_service_principal/main.tf
  infra/terraform/modules/azure_service_principal/outputs.tf
  infra/terraform/modules/azure_service_principal/variables.tf
  infra/terraform/modules/azure_storage_account/main.tf
  infra/terraform/modules/azure_storage_account/outputs.tf
  infra/terraform/modules/azure_storage_account/variables.tf
  infra/terraform/modules/azure_user_assigned_identity/main.tf
  infra/terraform/modules/azure_user_assigned_identity/outputs.tf
  infra/terraform/modules/azure_user_assigned_identity/variables.tf
  infra/terraform/outputs.tf
  infra/terraform/variables.tf
Due: terraform_fmt, terraform_validate, tflint

fix(ci): safely pass terraform plan output to PR comment
  .github/workflows/terraform-plan.yaml
Due: none

fast fix remove emote
  .github/workflows/terraform-plan.yaml
Due: none

fix: address review
  .trivyignore
  apps/daylog/cronjob-garmin-sync.yaml
  apps/daylog/cronjob-withings-sync.yaml
  apps/daylog/job-garmin-sync-annual.yaml
  apps/daylog/job-withings-sync-annual.yaml
  databases/daylog/pgadmin/deployment-daylog-pgadmin.yaml
  infra/terraform/main.tf
  infra/terraform/modules/azure_role_assignment/variables.tf
Due: terraform_fmt, terraform_validate, tflint, kubeconform

fix: copilot review
  infra/terraform/modules/azure_role_assignment/variables.tf
Due: terraform_fmt, terraform_validate, tflint

chore: update home-assistant to newest version
  host-services/home-automation/compose.yaml
Due: kubeconform

chore: add gitignore for secrets and HA runtime
  host-services/home-automation/.gitignore
Due: none

Path conditions:
  terraform_fmt: any of: \.tf$, but not: \.terraform/
  terraform_validate: any of: \.tf$, but not: \.terraform/
  tflint: any of: \.tf$, but not: \.terraform/
  kubeconform: any of: \.ya?ml$, but not: ^(\.pre-commit-config\.yaml|\.github/)
